body {
  font-family: "Times New Roman", Times, serif;
  text-align: center;
}

h1 {
  font-size: 60px;
}

.title {
  top: 0;
}

.content {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60vh;
}

table {
  width: 95%;
  table-layout: fixed;
}

th {
  font-size: 40px;
}

td {
  padding: 1%;
  font-size: 25px;
}
